For mongodb in root
DB_USERNAME=mtarique
DB_PASSWORD=mt7Database

For node API in api folder
NODE_ENV=development
PORT=3000
DB_USERNAME=mtarique
DB_PASSWORD=mt7Database

Above is just an example to start with

Chat GPT
https://chatgpt.com/share/6754aa3e-4428-8003-a299-6f2672bb4ebd

Theme
https://freshcart-next-js.vercel.app/ 